{
    "openapi": "3.0.0",
    "info": {
        "title": "UniTracker API",
        "description": "L'API UniTracker permet de suivre en temps réel les bus universitaires, planifier les trajets, et recevoir des notifications intelligentes. Elle facilite la gestion des transports pour les étudiants et les chauffeurs via des requêtes HTTP sécurisées.",
        "termsOfService": "https://unitrack.uzashop.org/terms",
        "contact": {
            "name": "Équipe Support UniTracker",
            "url": "https://unitrack.uzashop.org/contact",
            "email": "support@unitrack.uzashop.org"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://unitrack.uzashop.org",
            "description": "Serveur de production"
        },
        {
            "url": "http://localhost:8000",
            "description": "Serveur de développement local"
        }
    ],
    "paths": {
        "/api/buses/get": {
            "get": {
                "tags": [
                    "Bus"
                ],
                "summary": "Lister tous les bus",
                "description": "Récupère la liste complète des bus avec leurs chauffeurs assignés",
                "operationId": "7f42c4c961951953e5522bfb93b26446",
                "responses": {
                    "200": {
                        "description": "Liste des bus avec chauffeurs récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "buses": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "immatriculation": {
                                                        "type": "string",
                                                        "example": "BENI-123"
                                                    },
                                                    "marque": {
                                                        "type": "string",
                                                        "example": "Toyota"
                                                    },
                                                    "modele": {
                                                        "type": "string",
                                                        "example": "Coaster"
                                                    },
                                                    "couleur": {
                                                        "type": "string",
                                                        "example": "Blanc"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "actif"
                                                    },
                                                    "chauffeur_id": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "chauffeur": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Jean Dupont"
                                                            },
                                                            "matricule": {
                                                                "type": "string",
                                                                "example": "chauffeur001"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-27T10:30:00.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-27T10:30:00.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/buses/store": {
            "post": {
                "tags": [
                    "Bus"
                ],
                "summary": "Créer un nouveau bus",
                "description": "Enregistre un nouveau bus dans le système avec un chauffeur assigné",
                "operationId": "391fe2f87aa855b8946b05fd0dd0bdd3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "immatriculation",
                                    "chauffeur_id"
                                ],
                                "properties": {
                                    "immatriculation": {
                                        "description": "Numéro d'immatriculation unique du bus",
                                        "type": "string",
                                        "example": "BENI-123"
                                    },
                                    "marque": {
                                        "description": "Marque du véhicule",
                                        "type": "string",
                                        "example": "Toyota"
                                    },
                                    "modele": {
                                        "description": "Modèle du véhicule",
                                        "type": "string",
                                        "example": "Coaster"
                                    },
                                    "couleur": {
                                        "description": "Couleur principale du bus",
                                        "type": "string",
                                        "example": "Blanc"
                                    },
                                    "chauffeur_id": {
                                        "description": "ID du chauffeur assigné au bus",
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bus enregistré avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bus enregistré avec succès."
                                        },
                                        "bus": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "immatriculation": {
                                                    "type": "string",
                                                    "example": "BENI-123"
                                                },
                                                "marque": {
                                                    "type": "string",
                                                    "example": "Toyota"
                                                },
                                                "modele": {
                                                    "type": "string",
                                                    "example": "Coaster"
                                                },
                                                "couleur": {
                                                    "type": "string",
                                                    "example": "Blanc"
                                                },
                                                "chauffeur_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-06-27T10:30:00.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-06-27T10:30:00.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bus-journals/get": {
            "post": {
                "tags": [
                    "BusJournal"
                ],
                "summary": "Lister les trajets du carnet de bord",
                "description": "Récupère la liste des trajets avec les informations du bus et du chauffeur",
                "operationId": "53b0c2f71d5c57e0d92204c51c6f136b",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "bus_id": {
                                        "description": "Filtrer par ID de bus",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "chauffeur_id": {
                                        "description": "Filtrer par ID de chauffeur",
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Liste des journaux récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "journaux": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "bus_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "chauffeur_id": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "depart": {
                                                        "type": "string",
                                                        "example": "Campus UCBC"
                                                    },
                                                    "destination": {
                                                        "type": "string",
                                                        "example": "Faculté de Médecine"
                                                    },
                                                    "statut": {
                                                        "type": "string",
                                                        "example": "en_route"
                                                    },
                                                    "heure_depart": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-27T08:00:00.000000Z"
                                                    },
                                                    "heure_arrivee": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-27T08:30:00.000000Z"
                                                    },
                                                    "remarques": {
                                                        "type": "string",
                                                        "example": "Départ à l'heure"
                                                    },
                                                    "bus": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "immatriculation": {
                                                                "type": "string",
                                                                "example": "BENI-123"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "chauffeur": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Jean Dupont"
                                                            },
                                                            "matricule": {
                                                                "type": "string",
                                                                "example": "chauffeur001"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-27T10:30:00.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-27T10:30:00.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bus-journals/store": {
            "post": {
                "tags": [
                    "BusJournal"
                ],
                "summary": "Créer un nouveau trajet dans le carnet de bord",
                "description": "Enregistre un nouveau trajet de bus avec les détails du départ et de la destination",
                "operationId": "d1fb26a22928086c34fc73158ca6d0ba",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "bus_id",
                                    "chauffeur_id",
                                    "depart",
                                    "destination",
                                    "heure_depart"
                                ],
                                "properties": {
                                    "bus_id": {
                                        "description": "ID du bus effectuant le trajet",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "chauffeur_id": {
                                        "description": "ID du chauffeur responsable",
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "depart": {
                                        "description": "Point de départ",
                                        "type": "string",
                                        "example": "Campus UCBC"
                                    },
                                    "destination": {
                                        "description": "Point d'arrivée",
                                        "type": "string",
                                        "example": "Faculté de Médecine"
                                    },
                                    "heure_depart": {
                                        "description": "Heure prévue de départ",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-06-27T08:00:00Z"
                                    },
                                    "remarques": {
                                        "description": "Remarques optionnelles",
                                        "type": "string",
                                        "example": "Départ à l'heure"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Trajet enregistré avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trajet enregistré dans le carnet de bord."
                                        },
                                        "journal": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "bus_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "chauffeur_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "statut": {
                                                    "type": "string",
                                                    "example": "en_route"
                                                },
                                                "depart": {
                                                    "type": "string",
                                                    "example": "Campus UCBC"
                                                },
                                                "destination": {
                                                    "type": "string",
                                                    "example": "Faculté de Médecine"
                                                },
                                                "heure_depart": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-06-27T08:00:00.000000Z"
                                                },
                                                "remarques": {
                                                    "type": "string",
                                                    "example": "Départ à l'heure"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-06-27T10:30:00.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-06-27T10:30:00.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Erreur de validation"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bus-locations/store": {
            "post": {
                "tags": [
                    "BusLocation"
                ],
                "summary": "Enregistrer la position GPS actuelle d’un bus",
                "operationId": "e17e0a2eab044185fcc1133cdf406dd7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "bus_id",
                                    "latitude",
                                    "longitude"
                                ],
                                "properties": {
                                    "bus_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": -1.6345623
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 29.1245891
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Coordonnées enregistrées avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "bus_id": {
                                                    "type": "integer"
                                                },
                                                "latitude": {
                                                    "type": "number"
                                                },
                                                "longitude": {
                                                    "type": "number"
                                                },
                                                "captured_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bus/{id}/last-location": {
            "get": {
                "tags": [
                    "BusLocation"
                ],
                "summary": "Afficher la dernière position connue d’un bus",
                "operationId": "9752b54831431c2c0cd23d4478a395a2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du bus",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dernière position du bus",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "bus_id": {
                                            "type": "integer"
                                        },
                                        "latitude": {
                                            "type": "number"
                                        },
                                        "longitude": {
                                            "type": "number"
                                        },
                                        "captured_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Aucune position trouvée pour ce bus",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users/get": {
            "get": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Récupérer la liste de tous les utilisateurs",
                "description": "Retourne la liste complète des utilisateurs triés par date de création (plus récents en premier)",
                "operationId": "7fda73c89127ecad4d67bf7293ee8b1b",
                "responses": {
                    "200": {
                        "description": "Liste des utilisateurs récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "John Doe"
                                                    },
                                                    "matricule": {
                                                        "type": "string",
                                                        "example": "user123"
                                                    },
                                                    "role": {
                                                        "type": "string",
                                                        "example": "etudiant"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-27T10:30:00.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Erreur interne du serveur"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/login": {
            "post": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Connexion d'un utilisateur",
                "operationId": "1ec35339eba4f4040db55976c7bec3a9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "matricule",
                                    "password"
                                ],
                                "properties": {
                                    "matricule": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "matricule": {
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/register": {
            "post": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Inscription d'un nouvel utilisateur",
                "operationId": "1595c5dc5a9282a3bdb44ae98d8c55d9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "matricule",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "matricule": {
                                        "type": "string",
                                        "example": "user123"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "etudiant",
                                            "chauffeur",
                                            "admin"
                                        ],
                                        "example": "etudiant"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur enregistré avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "matricule": {
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur lors de l'inscription",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "description": "Authentification via Laravel Sanctum",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "BusJournal",
            "description": "Carnet de bord des trajets de bus"
        },
        {
            "name": "BusLocation",
            "description": "Coordonnées GPS des bus en temps réel"
        },
        {
            "name": "Bus",
            "description": "Bus"
        },
        {
            "name": "Utilisateurs",
            "description": "Utilisateurs"
        }
    ]
}